<!DOCTYPE html>
<html>
<head>
    {% include 'base.html' %}
</head>
<body>
    <div class="container m-5">
        <h1>Create a Movie</h1>
        <form action="{% url 'add_movie' %}" method="POST">
            {% csrf_token %}
             
            <div class="form-group">
                <label for="id_title">Title:</label>
                <input id="id_title" name="title" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="id_year">Year:</label>
                <input id="id_year" name="year" type="number" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="id_description">Description:</label>
                <textarea id="id_description" name="description" class="form-control" required></textarea>
            </div>

            <button class="btn btn-primary mt-3" type="submit">Add</button>
        </form>
    </div>
</body>
</html>
